<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="/media/css/basic.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/landing.css" />
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=626969007330520";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</head>

<body>
	{% block content %}{% endblock %}
</body>	