{% extends 'parent/landing-base.html' %}

{% block title %}Hello.{% endblock %}

{% block content %}
<div class="row">
	<div class="span9">
		<h1>Hello.</h1>
		<h3>Nice to meet us? Likewyss.</h3>
		<form action="/emailadded/" class="well" method="post">
			<p>Likewyss will be available only to select few people initially. Just {{ number }} slots left. Hurry up!</p>
			<input type="text" class="input-xxlarge" name="emailaddress" placeholder="Enter your email address" id="id_emailaddress" /><br>
			<button type="submit" class="input-xlarge btn btn-success" id="countmein">Count me in</button>
			<p>{% csrf_token %}</p>
		</form>
		<div class="well span8">
		<button class="btn btn-facebook"><i class="icon-facebook">&nbsp;&nbsp;Connect with Facebook</i></button>&nbsp;&nbsp;
		<a href="twitter/"><button class="btn btn-twitter"><i class="icon-twitter">&nbsp;&nbsp;Connect with Twitter</i></button></a>&nbsp;&nbsp;
	</div>
	</div>
</div>

<div class="row-fluid">
	<div class="well span4">
		<h1><i class="icon-list"></i> News.</h1>
		<h6>Likewyss is an amazing platform that connects you to the things you love. Unlike Pulse, Flipboard, etc. we are not limited to a few magazines. Love startups? Get the best content on startups right on your feed. Period.</h6>
	</div>
	
	<div class="well span4">
		<h1><i class="icon-link"></i> Bonds.</h1>
		<h6>While making Likewyss as interest-centric as possible, we have also craftily and elegantly integrated socialization into the platform. Love someone's updates? Star him. Bump his posts up on your feed. Say hi. Today.</h6>
	</div>
	
	<div class="well span4">
		<h1><i class="icon-group"></i> People.</h1>
		<h6>The greatest content creators in the world are not newspapers or magazines. It is you, the people. Every piece of content on Likewyss will be created and owned by you. Start penning your thoughts. Now.</h6>
	</div>
</div>
{% endblock %}