{% extends 'parent/landing-base.html' %}

{% block title %}Welcome aboard Likewyss{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="span9">
			<h1>Come in, please.</h1>
			<p>Thank you for signing up with your email address {{ email }}. Tell us more about you.</p>
			
			{% if form.has_errors %}
			<ul class="error">
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			<form class="well" id="signup" action="." method="post">
				<i class="icon-user icon-2x"></i>&nbsp;&nbsp;<input type="text" id="id_fullname" name="fullname" class="input-xlarge" placeholder="Full name" /><br>
				<i class="icon-flag icon-2x"></i>&nbsp;&nbsp;<input type="text" id="id_username" name="username" class="input-xlarge" placeholder="Username" /><br>
				<i class="icon-key icon-2x"></i>&nbsp;&nbsp;<input type="password" id="id_password" name="password" class="input-xlarge" placeholder="Password" /><br>
				<p>{% csrf_token %}</p>
				<button type="submit" class="btn btn-info"><i class="icon-plus"></i>&nbsp;&nbsp;Sign up for Likewyss</button>&nbsp;&nbsp;or&nbsp;&nbsp;<a href="/login/"><button type="button" class="btn btn-danger"><i class="icon-unlock-alt"></i>&nbsp;&nbsp;Login</button></a>
			</form>
		</div>
	</div>
</div>
{% endblock %}